.elements__info {
  margin: 0;
  padding: 23px 20px 22px;
  max-width: 100%;
  min-height: 29px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 22px;
  grid-template-rows: 19px 16px;
}
