.profile__edit-button {
  margin: 0;
  padding: 0;
  display: flex;
width: 24px;
height: 24px;
  min-width: 24px;
  min-height: 24px;
  border: 1px #fff solid;
  background: url(../../../images/edit-button.svg);
  grid-area: 1 / 2 / 1 / 2;
}
