.form__item {
  margin: 30px 36px 0;
  padding: 0 0 6px;
  height: 27px;
  min-width: calc(100% - 72px);
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  color: #000000;
  box-sizing: border-box;
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .form__item {
    margin: 30px 22px 0;
    min-width: calc(100% - 44px);
  }
}
