.elements__button-zoom {
  cursor: pointer;
  margin: 0;
  padding: 0;
  min-height: fill-available;
  border: none;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}
.elements__button-zoom:hover {
  opacity: 0.6;
}
