.profile__add-button {
  padding: 0px 0 0;
  max-width: 150px;
  min-height: 50px;
  border: 2px #fff solid;
  background: url(../../../images/add-button.svg) no-repeat;
  background-position: center;
  grid-area: 1 / 4 / 1 / 4;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .profile__add-button {
    grid-area: 5 / 1 / 5 / 1;
    max-width: 282px;
    background-size: 16px;
  }
}
