.profile__add-button {
  max-width: 150px;
  min-height: 50px;
  border: 1px #fff solid;
  /* align-self: center; */
  background: url(../../../images/add-button.svg) no-repeat;
  background-position: center;
  grid-area: 1 / 4 / 1 / 4;
  z-index: 2;
}
