.profile__add-button {
  max-width: 150px;
  min-height: 50px;
  border: 2px #fff solid;
  background: url(../../../images/add-button.svg) no-repeat;
  background-position: center;
  grid-area: 1 / 4 / 1 / 4;
  transition: opacity 0.3s ease-in-out;
}

.profile__add-button:hover {
  opacity: 0.6;
}
