.form__input-error {
  margin: 0px 36px 0;
  padding: 4px 0 0px;
  min-width: calc(100% - 72px);
  height: 27px;
  border: 0;
  background-color: transparent;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
}

@media screen and (max-width: 767px) {
  .form__input-error {
    height: 54px;
    margin: 0px 22px 0;
    min-width: calc(100% - 44px);
  }
}
