.footer__copyright {
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
}

.footer__copyright:hover {
  opacity: 0.8;
}


@media screen and (max-width: 767px) {
  .footer__copyright {}
}
