.elements__like {
  display: flex;
  min-width: 22px;
  min-height: 19px;
  background: url(../../../images/like-disabled.svg) no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  transition: opacity 0.3s ease-in-out;
  border: none;
  cursor: pointer;
}

.elements__like:hover {
  opacity: 0.5;
}

.elements__like:active {
  background: url(../../../images/like-active.svg) no-repeat;
}

