.form__button-handle {
  margin: 48px 36px 0;
  min-width: calc(100% - 72px);
  height: 50px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  border: 0;
  cursor: pointer;
  transition: opacity .4s;
  background: #000000;
  color: white;
  border-radius: 2px;
}

.form__button-handle:hover {
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .form__button-handle {
    margin: 45px 22px 0;
    min-width: calc(100% - 44px);
    font-size: 14px;
    line-height: 17px;
    height: 46px;
  }
}
