.popup__button-close {
  position: relative;
  top: -333px;
  left: 438px;
  margin: 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: opacity .4s;
  background: url(../../../images/close-button.svg);
  border: none;
  background-size: cover;
}

.popup__button-close:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .popup__button-close {
    left: 262px;
    width: 20px;
    height: 20px;
  }
}
