.form__submit_inactive {
  cursor: pointer;
  transition: opacity .4s;
  background: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.2);;
}

.form__submit_inactive:hover {
  opacity: .8;
}

/* @media screen and (max-width: 767px) {
  .form__submit_inactive {}
} */
