.profile__image {
  position: relative;
  /* z-index: 1; */
  max-width: 120px;
  min-height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .profile__image {
    align-self: center;
    justify-self: center;
  }
}
