.footer {
  max-width: calc(100% - 400px);
  margin: 0 auto;
  padding: 67px 0 0;

}

@media screen and (max-width: 767px) {
  .footer {
    max-width: calc(100% - 38px);
    padding: 48px 0 0;

  }
}
