.form__input {
  margin: 3px 36px 0;
  padding: 0 0 9px;
  min-width: calc(100% - 72px);
  height: 27px;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  color: #000000;
  background-color: transparent;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .form__input {
    margin: 0px 22px 0;
    min-width: calc(100% - 44px);
  }
}
