.profile__bio {
  margin: 0;
  padding: 7px 0 0;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  grid-area: 2 / 1 / 2 / span 3;
}

@media screen and (max-width: 767px) {
  .profile__bio {
    font-size: 14px;
    line-height: 17px;
    align-self: center;
    grid-area: 2/1/2/span 6;
    padding: 6px 0 0;
    text-align: center;
  }
}
